name: Scrape data
on:
  repository_dispatch:
    types: deploy
  push:
    branches:
      - master

jobs:
    #scrape-courses-and-prerequisites:
    #  name: Scrape courses and prerequisites
    #  runs-on: ubuntu-latest
    #  steps:
    #    - name: Checkout scrapers
    #      uses: actions/checkout@v2
    #      with:
    #        path: 'scraper'
    #        repository: 'quacs/scraper'

    #    - name: Set up Python
    #      uses: actions/setup-python@v2
    #      with:
    #        python-version: '3.x'

    #    - name: Install pip requirements
    #      run: |
    #        python -m pip install --upgrade pip
    #        pip install -r scraper/requirements.txt
    #        ls

    #    - name: Populate env
    #      run: printf "RIN=${{ secrets.RIN }}\nPASSWORD=${{ secrets.PASSWORD }}\nCURRENT_TERM=${{ secrets.CURRENT_TERM }}" > scraper/sis_scraper/.env

    #    - name: Scrape courses
    #      run: python3 scraper/sis_scraper/main.py

    #    - name: Scrape prerequisites
    #      run: |
    #        cp courses.json scraper/prerequisites_scraper
    #        python3 scraper/prerequisites_scraper/main.py

    #    - name: Upload data
    #      uses: actions/upload-artifact@v2
    #      with:
    #        name: courses
    #        path: |
    #          courses.json
    #          mod.rs
    #          prerequisites.json

  scrape-faculty-and-degree-requirements:
    name: Scrape faculty and degree requirements
    runs-on: ubuntu-latest
    steps:
      - name: Install geckodriver
        run: |
            export GECKODRIVER_VERSION="v0.27.0"
            wget https://github.com/mozilla/geckodriver/releases/download/v0.27.0/geckodriver-$GECKODRIVER_VERSION-linux64.tar.gz
            tar -xvzf geckodriver-$GECKODRIVER_VERSION-linux64.tar.gz
            chmod +x geckodriver

      - name: Checkout degree planner
        uses: actions/checkout@v2
        with:
          path: 'degree-planner'
          repository: 'quacs/degree-planner'

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.x'

      - name: Set up Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable

      - name: Install pip requirements
        run: |
          python -m pip install --upgrade pip
          pip install -r degree-planner/requirements.txt
          ls

      - name: Populate env
        run: printf "RIN=${{ secrets.RIN }}\nPASSWORD=${{ secrets.PASSWORD }}" > degree-planner/.env

      - name: Scrape courses
        run: |
            cd degree-planner
            python3 scraper.py refresh_data

      - name: Upload data
        uses: actions/upload-artifact@v2
        with:
          name: degree_requirements
          path: degree-planner/*.json

          #scrape-catalog:
          #  name: Scrape catalog
          #  runs-on: ubuntu-latest
          #  steps:
          #    - name: Checkout scrapers
          #      uses: actions/checkout@v2
          #      with:
          #        path: 'scraper'
          #        repository: 'quacs/scraper'

          #    - name: Set up Python
          #      uses: actions/setup-python@v2
          #      with:
          #        python-version: '3.x'

          #    - name: Install pip requirements
          #      run: |
          #        python -m pip install --upgrade pip
          #        pip install -r scraper/requirements.txt
          #        ls

          #    - name: Scrape catalog
          #      run: python3 scraper/catalog_scraper/main.py

          #    - name: Upload data
          #      uses: actions/upload-artifact@v2
          #      with:
          #        name: catalog
          #        path: catalog.json

  commit-data:
    name: Commit changes
    continue-on-error: true
    runs-on: ubuntu-latest
    needs: [scrape-faculty-and-degree-requirements] #[scrape-courses-and-prerequisites, scrape-faculty-and-degree-requirements, scrape-catalog]
    steps:
      - name: Checkout data
        uses: actions/checkout@v2
        with:
          path: 'data'
          repository: 'benjaminrsherman/quacs-data'
          clean: true

      - name: Get scraped data
        uses: actions/download-artifact@v2

      - name: Generate meta json file
        run: echo {\"last_updated\":\"$(date --iso-8601=seconds -u)\"} > data/meta.json

      - name: Commit new data
        run: |
          cp degree_requirements/ data
          # cp faculty/faculty.json data
          # cp courses/courses.json courses/mod.rs data
          # cp courses/prerequisites.json data
          # cp catalog/catalog.json data

          cd data
          git config user.name "QuACS" && git config user.email "github@quacs.org"

          # git add courses.json mod.rs
          # git add prerequisites.json
          # git add faculty.json
          # git add catalog.json
          git add degree_requirements/
          git add meta.json

          git commit -m "$(date -u)"
          git push --force
